In [1]:
# Importing packages
import calendar
import pandas as pd

In [2]:
# Notes from dataset
'''"timestamp" - timestamp field for grouping the data
"cnt" - the count of a new bike shares
"t1" - real temperature in C
"t2" - temperature in C "feels like"
"hum" - humidity in percentage
"wind_speed" - wind speed in km/h
"weather_code" - category of the weather
"is_holiday" - boolean field - 1 holiday / 0 non holiday
"is_weekend" - boolean field - 1 if the day is weekend
"season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.

"weather_code" category description:
1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 
2 = scattered clouds / few clouds 
3 = Broken clouds 
4 = Cloudy 
7 = Rain/ light Rain shower/ Light rain 1
0 = rain with thunderstorm 
26 = snowfall 
94 = Freezing Fog'''

'"timestamp" - timestamp field for grouping the data\n"cnt" - the count of a new bike shares\n"t1" - real temperature in C\n"t2" - temperature in C "feels like"\n"hum" - humidity in percentage\n"wind_speed" - wind speed in km/h\n"weather_code" - category of the weather\n"is_holiday" - boolean field - 1 holiday / 0 non holiday\n"is_weekend" - boolean field - 1 if the day is weekend\n"season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.\n\n"weather_code" category description:\n1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity \n2 = scattered clouds / few clouds \n3 = Broken clouds \n4 = Cloudy \n7 = Rain/ light Rain shower/ Light rain 1\n0 = rain with thunderstorm \n26 = snowfall \n94 = Freezing Fog'

In [3]:
# reading in data
df = pd.read_csv(r'/Users/alecvalentino/Desktop/Data Analytics Bootcamp/london_merged.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
# Exploring data
df.shape

(17414, 10)

In [5]:
# Changing column names to more clear headers
new_col_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}
#renaming the columns to the new column names
df.rename(new_col_dict, axis = 1, inplace = True)
df

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
# Changing humidity value to humidity percentage
df.humidity_percent = df.humidity_percent / 100
df

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,2.0,0.0,0.0,3.0

In [7]:
# creating a dictionary to define seasons
seasons_dict = {
    '0.0':'spring',
    '1.0': 'summer',
    '2.0': 'autumn',
    '3.0':'winter'
}
# Creating a weather dictionary 
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall',
    '94.0':'Freezing Fog'
}
# Changing the seasons column data type to string
df.season = df.season.apply(str)
# replacing numeric values with string values
df.season = df.season.map(seasons_dict)

#changing the weather column data type to string
df.weather = df.weather.apply(str)
# replacing numeric values with string values
df.weather = df.weather.map(weather_dict)

In [8]:
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [9]:

# Splitting Time Stamp Column into Date and Time
df[['Date', 'Time']] = df['time'].str.split(' ', expand = True)
df

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season,Date,Time
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter,2015-01-04,00:00:00
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter,2015-01-04,01:00:00
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter,2015-01-04,02:00:00
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter,2015-01-04,03:00:00
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter,2015-01-04,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,winter,2017-01-03,19:00:00
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter,2017-01-03,20:00:00
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter,2017-01-03,21:00:00
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter,2017-01-03,22:00:00
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,winter,2017-01-03,23:00:00

In [10]:
# Splitting Date into Year, Month, and Day
df[['Year','Month','Day']] = df['Date'].str.split('-', expand = True)
df

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season,Date,Time,Year,Month,Day
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter,2015-01-04,00:00:00,2015,01,04
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter,2015-01-04,01:00:00,2015,01,04
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter,2015-01-04,02:00:00,2015,01,04
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter,2015-01-04,03:00:00,2015,01,04
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter,2015-01-04,04:00:00,2015,01,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,winter,2017-01-03,19:00:00,2017,01,03
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter,2017-01-03,20:00:00,2017,01,03
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter,2017-01-03,21:00:00,2017,01,03
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter,2017-01-03,22:00:00,2017,01,03
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,winter,2017-01-03,23:00:00,2017,01,03

Example code from changing 
month_names = df['join_month'].apply(lambda x: calendar.month_name[x])
print('Months Name')
print(month_names)

replace column join_month
df['join_month'] = month_names
print('Student Details')
print(df)

changing date frame type to int
df["dataframe_column"] = df["dataframe_column"].apply(int)

In [11]:
# Changing Month number to Month Name
df['Month'] = df['Month'].apply(int)
month_names = df['Month'].apply(lambda x: calendar.month_name[x])
print('Months Name')
print(month_names)

Months Name
0        January
1        January
2        January
3        January
4        January
          ...
17409    January
17410    January
17411    January
17412    January
17413    January
Name: Month, Length: 17414, dtype: object

In [12]:
# Value check - to ensure values have changed
month_names.unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [13]:
# Assigning above values to new column in dataframe
df['Month_Name'] = month_names
df

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season,Date,Time,Year,Month,Day,Month_Name
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter,2015-01-04,00:00:00,2015,1,04,January
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter,2015-01-04,01:00:00,2015,1,04,January
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter,2015-01-04,02:00:00,2015,1,04,January
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter,2015-01-04,03:00:00,2015,1,04,January
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter,2015-01-04,04:00:00,2015,1,04,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,winter,2017-01-03,19:00:00,2017,1,03,January
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter,2017-01-03,20:00:00,2017,1,03,January
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter,2017-01-03,21:00:00,2017,1,03,January
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter,2017-01-03,22:00:00,2017,1,03,January
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,winter,2017-01-03,23:00:00,2017,1,03,January

In [14]:
# Check of column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_C        17414 non-null  float64
 3   temp_feels_like_C  17414 non-null  float64
 4   humidity_percent   17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  object
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  object
 10  Date               17414 non-null  object
 11  Time               17414 non-null  object
 12  Year               17414 non-null  object
 13  Month              17414 non-null  int64
 14  Day                17414 non-null  object
 15  Month_Name         17414 non-null  object
dtypes: float64(6), int64(2), object(8)
memory usage: 2.1+ MB

In [15]:
#Exporting file to Excel to use in Tableau visualization - will be called 'london_bikes_data.xlsx'
df.to_excel('london_bikes_data.xlsx', sheet_name= 'Data')